<section class="faq centered-block">
    <div class="description">
        <h3>Questions?</h3>
        <div class="text">
            We have tried to answer the most common questions. If you need to find out more information, please join our
            community chats.
        </div>
        <div class="links">
            <a href="https://discord.com/invite/sgzFscHp4C" target="_blank">
                Discord chat
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M12.6465 6L15.0001 8.35355L12.6465 10.7071L11.9394 10L13.0859 8.85355H1.29297V7.85355H13.0859L11.9394 6.70711L12.6465 6Z"
                        fill="#872AB0"/>
                </svg>
            </a>
            <a href="https://t.me/aquarius_HOME" target="_blank">
                Telegram chat
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M12.6465 6L15.0001 8.35355L12.6465 10.7071L11.9394 10L13.0859 8.85355H1.29297V7.85355H13.0859L11.9394 6.70711L12.6465 6Z"
                        fill="#872AB0"/>
                </svg>
            </a>
        </div>
    </div>
    <div class="faq-questions"></div>
</section>
