<section class="get-token-popup popup">

    <div class="popup-element">
        <div class="close-btn">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L15 15" stroke="#5F0E8E" stroke-width="2"/>
                <path d="M15 1L1 15" stroke="#5F0E8E" stroke-width="2"/>
            </svg>

        </div>

        <h2>AQUA token</h2>
        <p>AQUA is the utility token of Aquarius project. You may be eligible to claim free AQUA through the ongoing airdrop program.
            Currently AQUA is only available on the Stellar DEX.
        </p>

        <div class="asset-info">
            <div>
                <div class="title">Asset code</div>
                <div class="text">AQUA</div>
            </div>
            <div>
                <div class="title">Home domain</div>
                <div class="text">aqua.network</div>
            </div>
            <div class="asset-block">
                <div class="tooltip">Copied</div>
                <div class="title">Issuer address</div>
                <div class="text">
                    <img style="width: 18px;" src="https://id.lobstr.co/GBNZILSTVQZ4R7IKQDGHYGY2QXL5QOFJYQMXPKWRRM5PAV7Y4M67AQUA.png" />
                    <div class="asset-key">GBNZILST...4M67AQUA</div>
                    <img src="assets/img/copy-icon.svg" />
                </div>
            </div>
        </div>

        <a class="link-to-explorer"
           href="https://stellar.expert/explorer/public/asset/AQUA-GBNZILSTVQZ4R7IKQDGHYGY2QXL5QOFJYQMXPKWRRM5PAV7Y4M67AQUA-1"
           target="_blank">
            View on network explorer <img src="./assets/img/arrow-right-2.svg" alt="arrow-right" />
        </a>
        <p>Make sure the home domain is "aqua.network" when you add AQUA.</p>

        <div class="line"></div>

        <p>Airdrop #2 snapshot was taken on January 15th, 2022 00:00 UTC. See if your account is eligible to claim some AQUA.</p>
        <a class="link-to-check-eligible"
           href="https://aqua.network/airdrop2"
           target="_blank">
            Learn more <img src="./assets/img/arrow-right-2.svg" alt="arrow-right" />
        </a>

        <div class="line"></div>


        <h2>Get AQUA on popular platforms</h2>
        <p>We recommend using any of the Stellar apps below.</p>

        <a class="platform-link" href="https://lobstr.co/trade/AQUA:GBNZILSTVQZ4R7IKQDGHYGY2QXL5QOFJYQMXPKWRRM5PAV7Y4M67AQUA" target="_blank">
            <div class="link">
                <img class="name" src="assets/img/lobstr-logo.svg" />
                <div class="info">
                    <div class="address">Lobstr.co</div>
                    <div class="description">Simple Stellar wallet for iOS, Android and web.</div>
                </div>
                <img class="arrow" src="assets/img/arrow-right.svg" />
            </div>
        </a>

        <a class="platform-link" href="https://www.stellarx.com/markets/native/AQUA:GBNZILSTVQZ4R7IKQDGHYGY2QXL5QOFJYQMXPKWRRM5PAV7Y4M67AQUA" target="_blank">
            <div class="link">
                <img class="name" src="assets/img/stellarx-logo.svg" />
                <div class="info">
                    <div class="address">StellarX.com</div>
                    <div class="description">Trading platform built on the Stellar network.</div>
                </div>
                <img class="arrow" src="assets/img/arrow-right.svg" />
            </div>
        </a>

        <a class="platform-link" href="https://stellarterm.com/exchange/AQUA-GBNZILSTVQZ4R7IKQDGHYGY2QXL5QOFJYQMXPKWRRM5PAV7Y4M67AQUA/XLM-native" target="_blank">
            <div class="link">
                <img class="name" src="assets/img/stellarterm-logo.svg" />
                <div class="info">
                    <div class="address">StellarTerm.com</div>
                    <div class="description">Light trading client for the Stellar network.</div>
                </div>
                <img class="arrow" src="assets/img/arrow-right.svg" />
            </div>
        </a>
    </div>

</section>
