<footer>
    <div class="centered-block content">
        <div class="helpful-line">
            <div><img src="./assets/img/header-logo.svg"></div>
        </div>
        <div class="copyright-line">
            <div class="copyright">
                © 2021 aqua.network
            </div>
            <div class="terms">
                Aquarius runs on Stellar. AQUA tokens are issued on Stellar. The project is unaffiliated with the Stellar Development Foundation.
            </div>
        </div>
    </div>
</footer>
