<section class="subscribe" id="subscribe">
	<div class="centered-block content">
		<div class="subscribe-container">
			<div class="description">
				<div class="main-title">Subscribe to stay updated</div>
				<div class="main-description">Aquarius is moving fast, do not forget to subscribe to news</div>
			</div>
			<div class="email">
				<form class="form" name="subscribe" netlify>
					<input type="email" name="email" placeholder="Enter your email" class="form-input" />
					<button type="submit" class="form-button">Subscribe</button>
				</form>
			</div>
		</div>
	</div>
</section>
