<header class="page-header">
    <div class="header-content">
        <a class="main-link" href="/"><img src="./assets/img/header-logo.svg"></a>

        <div class="menu-toggle">
          <svg class="menu-icon" width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 1H15" stroke="#5F0E8E"/>
            <path d="M15 7H0" stroke="#5F0E8E"/>
          </svg>
          <svg class="close" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.6055 1L0.998867 11.6066" stroke="#5F0E8E"/>
            <path d="M11.6055 11.6064L0.998867 0.999844" stroke="#5F0E8E"/>
          </svg>
        </div>

        <div class="menu">
            <div class="relative">
                <nav>
                    <a href="https://vote.aqua.network/">Voting</a>
                    <a href="/rewards" class="reward-link">Rewards</a>
                    <a href="https://vote.aqua.network/bribes/">Bribes</a>
                    <a href="https://locker.aqua.network/">Locker</a>
                    <a href="https://gov.aqua.network/">Governance</a>
                    <a href="/airdrop2" class="airdrop-link">Airdrop</a>
                </nav>
            </div>

            <button class="get-token-popup-button">$AQUA</button>

            <!-- @include ../socials/socials.html -->
        </div>
    </div>
</header>
